body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1024px;
  background-color: white;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0px 0px 15px 5px rgba(60, 60, 60, 0.2);
  padding: 0 20px;
}

.mainTable {
  max-width: 1024px;
  width: 100%;
  border-collapse: collapse;
}

.mainTable th {
  padding: 20px 0;
  border-bottom: 1px solid #dcdce1;
}

.mainTable td {
  padding: 9px 10px;
  text-align: center;
}

.mainTable tr:not(:last-child) {
  border-bottom: 1px solid #dcdce1;
}

.coinNameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coinLogo {
  width: 40px;
}

.btnThSort {
  cursor: pointer;
  border: 0;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
}

.btnPagContainer {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1064px;
}

.btnPag {
  padding: 10px 15px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.btnPag:hover {
  background-color: rgb(139, 139, 139);
  color: white;
}
