body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 241, 241);
}

.container {
  max-width: 1024px;
  background-color: white;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0px 0px 15px 5px rgba(60, 60, 60, 0.2);
  padding: 0 20px;
}

.mainTable {
  max-width: 1024px;
  width: 100%;
  border-collapse: collapse;
}

.mainTable th {
  padding: 20px 0;
  border-bottom: 1px solid #dcdce1;
}

.mainTable td {
  padding: 4px 10px;
  text-align: center;
}

.mainTable tr:not(:last-child) {
  border-bottom: 1px solid #dcdce1;
}

.coinNameContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.coinLogo {
  width: 40px;
}

.btnThSort {
  cursor: pointer;
  border: 0;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
}

.btnShowMore {
  display: flex;
  margin: 30px auto;
  padding: 10px 15px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.btnShowMore:hover {
  background-color: rgb(139, 139, 139);
  color: white;
}

.spinner {
  margin: 30px auto;
  width: 48px;
  height: 48px;
  border: 5px solid #737373;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searchPos {
  display: flex;
  justify-content: flex-end;
  max-width: 1064px;
  margin: 30px auto;
}

.searchContainer {
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba(60, 60, 60, 0.2);
}

.searchInput {
  height: 40px;
  width: 295px;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

.btnSearch {
  border: none;
  padding: 8px 13px;
  font-size: 18px;
  cursor: pointer;
}

.searchResults {
  margin: 45px -340px;
  padding: 10px 20px;
  position: absolute;
  width: 300px;
  height: 260px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba(60, 60, 60, 0.2);
}

.searchResultsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchResultNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.searchResultLogo {
  width: 30px;
  height: 30px;
}

.searchResultName {
  font-weight: bold;
}

.searchResultSymbol,
.searchResultRank {
  color: #979797;
}

.btnSearchResult {
  cursor: pointer;
  border: 0;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}

.coinContainer {
  padding: 30px 20px;
}

.coinInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.coinInfoLogo {
  width: 50px;
  height: 50px;
}

.coinInfoName {
  font-size: 30px;
}

.coinInfoNames {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
}

.coinInfoSymbol {
  color: #979797;
  font-size: 20px;
}

.coinPrices {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.coinPricesPrice {
  font-size: 26px;
  font-weight: bold;
}

.coinPricesChange {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-weight: bold;
}
